@import 'config/reset';
@import 'config/reboot';
@import 'config/variables';
@import 'config/typography';
@import 'config/mixins';

// =size($w, $h:$w)
//   width: $w
//   height: $h
// =fontStyle($s,$w: normal,$c:$primary)
//   font-size: $s
//   color: $c
//   font-weight: $w

input[type='button'] {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none;
  border-radius: 16px;
  background-color: unset;
}

.color_blue {
  color: #00c4ff;
}
.color_gradient {
  background: linear-gradient(to right, #00c4ff, #6c00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg_gradient {
  background: linear-gradient(to right, #00c4ff, #6c00ff);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #e8e8e8;
}

//計算機
.calcBody {
  width: 350px;
  height: 525px;
  margin: 0 auto;
  overflow: hidden;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.4));
  border-radius: 20px;
}

//計算顯示結果-區塊
.calcResult {
  background: #041936;
  padding: 16px 16px 8px 16px;
  text-align: right;
  .fun {
    font-size: 16px;
    height: 19px;
    overflow-x: auto;
    overflow-y: hidden;
    //自訂卷軸樣式 - 只有chrome可以自訂
    &::-webkit-scrollbar {
      background-color: transparent;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: rgba(0, 196, 255, 0.5);
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 196, 255, 0.2);
    }
  }
  .ans {
    color: #fff;
    font-size: 56px;
    overflow-x: auto;
    height: 71px;
    margin-top: 10px;
    //自訂卷軸樣式 - 只有chrome可以自訂
    &::-webkit-scrollbar {
      background-color: transparent;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: rgba(0, 196, 255, 0.5);
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 196, 255, 0.2);
    }
  }
}

//輸入按鈕-區塊
.calcInput {
  background: #062145;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

//按鈕
.calcBtn {
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: 70px;
  height: 64px;
  color: #fff;
  font-size: 24px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px transparent;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: solid 1px #aaa;
    border-radius: 16px;
  }
}
input.ope {
  background-color: #041936;
  border-radius: 16px;
}
.ac,
.del {
  font-size: 24px;
  color: #00c4ff;
}
.equal {
  border-radius: 16px;
  justify-content: flex-end;
  width: 47%;
  padding-right: 7%;
}
